/*.menusimple-before::before {
    background-color: red;
    content: '';
    display: block;
    position: absolute;
    height: 60%;
    width: 100px;
    border-radius: 8px;
    transform-origin: right center;
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.47, .94, .04, .98);
    
}

.menusimple-before:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
    opacity: 0.2;
}*/